<div class="sticky top-6 space-y-6">
  <div class="p-4 glass-card">
    <div class="flex items-center gap-3">
      <div class="w-12 h-12 rounded-full bg-accent flex items-center justify-center">{{ profile.user.name | slice:0:1 }}
      </div>
      <div>
        <div class="font-semibold">{{profile.user.name}}</div>
        <div class="text-gray-800 text-sm">@{{profile.user.username}}</div>
      </div>
    </div>
    <div class="pt-4 space-y-2">
      <a routerLink="/" class="block py-2 hover:bg-white/3 rounded px-2">Home</a>
      <a routerLink="/explore" class="block py-2 hover:bg-white/3 rounded px-2">Explore</a>
      <a routerLink="/u/vivek" class="block py-2 hover:bg-white/3 rounded px-2">Profile</a>
      <a (click)="Logout()" class="block py-2 hover:bg-white/3 rounded px-2 cursor-pointer">Logout</a>
    </div>
  </div>
  <div class="p-4 glass-card">
    <div class="font-semibold mb-2">Compose</div>
    <div class="text-sm text-gray-800">Quickly start a new thread</div>
  </div>
</div>